/adobe
/domenico 1D
/Ferrite Tutorials
/planning.xlsx
/progress meeting
/Swayam
/update meetings

#venv
.pyvenv/
.vscode/

# ParaView / VTK output files
*.vtu
*.pvd

# auxilary files
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.out
build/

# old
old/
*/gmsh tutorials/

# Large generated solution files
*.jld2
*.jls